.myButtons {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 78px;
  border-radius: 0.4em
}
#replay {
  display: none;
}
body {
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.6) 100%), url(3.jpg);
  height: 100vh;
}
.overall {
  border-radius: 0.4em;
  color: white;
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%), url(bjtable.jpg);
  background-position: center;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px auto;
  width: 700px;
  position: relative;
}
.computerWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 80px;
}
.playerWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 80px;
}
.lose, .won, .tie, .noMoney  {
  border: black solid 1px;
  background: red;
  color: white;
  width: 200px;
  height: 40px;
  font-size: 180%;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 45%
}
.won {
  background: green;
}
.tie {
  background: yellow;
}
.noMoney {
  background: #FD8A8A;
}
#hit {
  position: absolute;
  left: 14%;
  bottom: 18%;
  display: none;
}
#stand {
  position: absolute;
  right: 14%;
  bottom: 18%;
  display: none;
}
.cardsLeft {
  position: absolute;
  top: 1%;
  right: 1%;
}
.player1 {
  font-family: 'Srisakdi', cursive;
  font-weight: 600;
  position: absolute;
  left: -15%;
  top: 0;
}
.dealer {
  font-family: 'Srisakdi', cursive;
  font-weight: 600;
  position: absolute;
  right: -15%;
  top: 0;
}
.bank {
  position: absolute;
  bottom: 1%;
  left: 1%;
}
.betButtons {
  margin-left: 12px;
  border: solid 1px white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.lowerDropDown {
  width: 700px;
  height: 16%;
  left: 15%;
  position: absolute;
  bottom: 0;
}
