.myButtons {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 78px;
  border-radius: 0.4em
}
#replay {
  display: none;
}
body {
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.6) 100%), url(3.jpg);
  height: 100vh;
}
.overall {
  border-radius: 0.4em;
  color: white;
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%), url(bjtable.jpg);
  background-position: center;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px auto;
  width: 700px;
  position: relative;
}
.computerWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 100px;
}
.playerWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 100px;
}
.playingBank {
  transform: scale(2);
  z-index: 10;
  transition: all 0.3s;
}

.lose, .won, .tie, .noMoney  {
  border: black solid 1px;
  background: red;
  color: white;
  width: 200px;
  height: 40px;
  font-size: 150%;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
  bottom: 45%
}
.noMoney {
  font-size: 120%;
}
.won {
  background: green;
}
.tie {
  background: yellow;
}
.noMoney {
  background: #FD8A8A;
}
#hit {
  position: absolute;
  left: 14%;
  bottom: 18%;
  display: none;
}
#stand {
  position: absolute;
  right: 14%;
  bottom: 18%;
  display: none;
}
.cardsLeft {
  position: absolute;
  top: 1%;
  right: 1%;
}
.player1 {
  font-family: 'Srisakdi', cursive;
  font-weight: 600;
  position: absolute;
  left: -15%;
  top: 0;
}
.dealer {
  font-family: 'Srisakdi', cursive;
  font-weight: 600;
  position: absolute;
  right: -15%;
  top: 0;
}
.bank {
  position: absolute;
  bottom: 1%;
  left: 1%;
  z-index: 10;
  transition: all 0.3;
}

.lowerDropDown {
  width: 609px;
  height: 16%;
  left: 13%;
  position: absolute;
  bottom: 0;
  z-index: 999;
  transform-origin: center bottom;
  transition: all 0.5s;
}
.lowerDropDown img {
  cursor: pointer;
  height: 100%;
  border-radius: 50%;
}
.deal {
float: right;
margin-top: 15px;
}
.blackBox {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  z-index: 7;
  opacity: 0.6;
}
#computerColor {
  height: 80px;
  width: 65%;
  position: relative;
}
#playerColor {
  position: relative;
  width: 65%;
  height: 80px;
}
#playerColor img {
  height: 80px;
  position: absolute;
  left: 0;
  transition: all 0.3s;
}
#computerColor img {
  position: absolute;
  left: 0;
  height: 80px;
  transition: all 0.3s;
}
